* {
    box-sizing: border-box;
}

#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 100vw;
}

.highcharts-dashboard-component-kpi {
    box-shadow: 0px 5px 20px 3px rgba(0,0,0,0.1);
    margin: 0.5em;
}

.highcharts-dashboard-component-kpi-title {
    margin-top: 0.75em;
}

.highcharts-dashboard-component-kpi-value {
    font-weight: 700;
    margin-top: 0.25em;
}